.splash-page {

    .splash-hero {
        background-color: white;

        .splash-hero-cta {
            width: 300px;
        }
    }

    .splash-hero-container {
        text-align: center;

        .splash-hero-image {
            width: 70%;
        }
    }
    
}