#app {
    margin: auto;
    width: 500px;
    padding: 0px 15px;
}

#header {
    margin: auto;
    text-align: center;
}

#form {
    margin-bottom: 40px;
}

#form__input {
    float: left;
    font-size: 16px;
    padding: 6px 8px;
    box-sizing: border-box;
    /* Just to ensure the padding is included in the size of the box*/
    width: 80%;
}

#form__submit {
    float: right;
    padding: 8px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
}

#form__submit:hover {
    background-color: #d17300;
}

#todolist {
    width: 100%;
    list-style: none;
    padding-left: 0px;
}

#todo {
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8D8;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: #E8E8E8;
    position: relative;
    padding: 20px 20px;
}

#todo__checkbox {
    margin-right: 20px;
}

#todo__delete {
    padding: 8px;
    display: inline-block;
    border: none;
    background-color: red;
    color: white;
    position: absolute;
    right: 20px;
    top: 12px;
}

#todo__delete:hover {
    background-color: #b80000;
}

#footer {
    margin: 10px 0px;
    text-align: center;
    font-size: small;
}

body {
    margin: 0;
    font-family: Bookman, sans-serif;
    font-size: 16px;
}

.login__title, .register__title {
    margin-top: 100px;
    font-size: 3em;
    text-align: center;
}

.login__container, .register__container {
    margin-top: 100px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.login__form, .register__form {
    background-color: #E8E8E8;
    border: 2px solid #D8D8D8;
    padding: 10px 10px;
    border-radius: 5px;
}

.login__alertcontainer, .register__alertcontainer {
    position: fixed;
    left: 10%;
    top: 170px;
    width: 80%;
}

/*
Practising media queries
@media screen and (max-width: 600px) {
.login__container
{width: 300px;}
}   
*/
