#app {
    margin: auto;
    width: 500px;
    padding: 0px 15px;
}
  
#header {
    margin: auto;
    text-align: center;
}

#form {
    margin-bottom: 40px;
}

#form__input {
    float: left;
    font-size: 16px;
    padding: 6px 8px;
    box-sizing: border-box; /* Just to ensure the padding is included in the size of the box*/
    width: 80%;
}

#form__submit {
    float: right;
    padding: 10px;
    background-color: darkorange;
    color: white;
    border: none;
    border-radius: 5px;
}

#form__submit:hover {
 
    background-color: #d17300;
}

#todolist {
    width: 100%;
    list-style: none;
    padding-left: 0px;
}

#todo {
    border-style: solid;
    border-width: 1px;
    border-color: #D8D8D8;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: #E8E8E8;
    position: relative;
    padding: 20px 20px;
}

#todo__label {

}

#todo__delete {
    padding: 10px;
    display:inline-block;
    border: none;
    background-color: red;
    color: white;
    position: absolute;
    right: 20px;
    top: 12px;

}

#todo__delete:hover {
    background-color: #b80000;
}

#footer {
    margin: 10px 0px;
    text-align: center;
    font-size: small;
}